# Assignment 1

In [1]:
a1,a2,a3 = {},{},{}
a = [a1,a2,a3]
for n in range(3):
    kname = input("Enter key: ")
    vname = input("Enter value: ")
    a[n][kname] = vname
    
    kage = input("Enter key: ")
    vage = int(input("Enter value: "))
    a[n][kage] = vage
    
    kwork = input("Enter key: ")
    vwork = input("Enter value: ")
    a[n][kwork] = vwork
    
    kskills = input("Enter key: ")
    vskills = []
    for i in range(3):
        vs = (input("Enter value in key("+ kskills +")"))
        vskills.append(vs)
    a[n][kskills] = vskills
    
    kdegree = input("Enter key: ")
    vdegree = {}
    for j in range(3):
        key = input("Enter key("+ kdegree +"): ")
        value = input("Enter value: ")
        vdegree[key] = value
    a[n][kdegree] = vdegree 
    
    ksal = input("Enter key: ")
    vsal = int(input("Enter value: "))           
    a[n][ksal] = vsal

Enter key: name
Enter value: Hamza Ali
Enter key: age
Enter value25
Enter key: work
Enter valueA.I
Enter key: skills
Enter value in key(skills)python
Enter value in key(skills)tensorflow
Enter value in key(skills)cloud
Enter key: degree
Enter key(degree): title
Enter value: bs
Enter key(degree): major
Enter value: computer science
Enter key(degree): completionDate
Enter value: jun 2019
Enter key: salary
Enter value 259999
Enter key: name
Enter value: Farooq Aziz
Enter key: age
Enter value27
Enter key: work
Enter valueCloud Native
Enter key: skills
Enter value in key(skills)ubuntu
Enter value in key(skills)docker
Enter value in key(skills)kubernetes
Enter key: degree
Enter key(degree): title
Enter value: MS
Enter key(degree): major
Enter value: Software engineer
Enter key(degree): completionDate
Enter value: May 2018
Enter key: salary
Enter value 200000
Enter key: name
Enter value: Abu Bakr
Enter key: age
Enter value30
Enter key: work
Enter valueBlockchain
Enter key: skills
Enter value in key(skills)python
Enter value in key(skills)ceyptography
Enter value in key(skills)Ethereum
Enter key: degree
Enter key(degree): title
Enter value: BS
Enter key(degree): major
Enter value: computer Science
Enter key(degree): completionDate
Enter value: May 2019
Enter key: salary
Enter value 300000

In [2]:
a

[{'name': 'Hamza Ali',
  'age': 25,
  'work': 'A.I',
  'skills': ['python', 'tensorflow', 'cloud'],
  'degree': {'title': 'bs',
   'major': 'computer science',
   'completionDate': 'jun 2019'},
  'salary': 259999},
 {'name': 'Farooq Aziz',
  'age': 27,
  'work': 'Cloud Native',
  'skills': ['ubuntu', 'docker', 'kubernetes'],
  'degree': {'title': 'MS',
   'major': 'Software engineer',
   'completionDate': 'May 2018'},
  'salary': 200000},
 {'name': 'Abu Bakr',
  'age': 30,
  'work': 'Blockchain',
  'skills': ['python', 'ceyptography', 'Ethereum'],
  'degree': {'title': 'BS',
   'major': 'computer Science',
   'completionDate': 'May 2019'},
  'salary': 300000}]

# Assignment 2

In [65]:
a = int(input("Enter the range for tables: "))
b = int(input())
b +=1
for i in range(a,b):
    for j in range (1,11):
        print(j, "x", i, "=", j*i)
    print(end="\n")

Enter the range for tables: 5
10
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [25]:
a = int(input("Enter the range for tables: "))
b = int(input())
b +=1
for i in range(1,11):
    for j in range (a,b):
        print(j, "x", i, "=", j*i, end="\t")
    print(end="\n")

Enter the range for tables: 5
10
5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9	10 x 1 = 10
5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18	10 x 2 = 20
5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27	10 x 3 = 30
5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36	10 x 4 = 40
5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45	10 x 5 = 50
5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54	10 x 6 = 60
5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63	10 x 7 = 70
5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72	10 x 8 = 80
5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81	10 x 9 = 90
5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90	10 x 10 = 100